---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blogs");
    return posts.map((post: any) => ({
        params: { slug: post.id },
        props: post,
    }));
}
type Props = CollectionEntry<"blogs">;

const post = Astro.props;
---

<Layout title={post.data.title} description="" pageUrl={`/blog/${post?.title}`}>
    <div class="custom-container py-16">
        <h1 class="text-4xl text-center text-primary font-bold">
            {post.data.title}
        </h1>
        <div
            class="prose prose-headings:text-primary !max-w-5xl mx-auto prose-headings:font-semibold prose-a:text-primary pt-8 md:pb-12 pb-6"
        >
            <div set:html={post.rendered.html} />
        </div>
    </div>
</Layout>
