---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import BlogCard from "@components/BlogCard.astro";
import SingleHero from "@components/SingleHero.astro";
import backgroundImage from "@assets/images/about-us/blocks/0/value/bgImage.jpg";
import { getPost } from "src/lib/getPageData";

const blogs = await getPost();
---

<Layout
  title="Blog Posts"
  description="Marketing page for blog posts"
  pageUrl="/blog"
  ogImage=""
>
  <SingleHero title="Our Blogs" bgImage={backgroundImage.src} />
  <div class="bg-white py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none sm:grid-cols-2 lg:grid-cols-3"
      >
        {blogs.map((item) => <BlogCard {...item} />)}
      </div>
    </div>
  </div>
</Layout>
