---
import ImageMod from "@components/ui/ImageMod.astro";
import { getAssetURL } from "src/utils/getImage";

const { item } = Astro.props;

const imagePlacement = item.image_on_left ? "left" : "right";
const button = item.button || {};
---

<div class="custom-container py-10 relative">
  <div
    class={`flex flex-col ${imagePlacement === "left" ? "lg:flex-row" : "lg:flex-row-reverse"} items-stretch`}
  >
    <div
      class="w-full lg:w-1/2 p-8 flex justify-center items-start flex-col min-w-full bg-background/10 prose prose-p:text-black/80 prose-a:text-primary"
    >
      <div
        class="mb-6 prose prose-td:border prose-th:border prose-td:px-2 prose-th:px-2"
        set:html={item.content}
      />
      {
        button.label && (
          <div class="flex items-start justify-start">
            <a
              href={button.link}
              class="rounded-md bg-white px-4.5 py-2.5 text-sm font-semibold !text-black shadow-sm focus-visible:outline"
            >
              {button.label}
            </a>
          </div>
        )
      }
    </div>

    <div class="w-full lg:w-1/2">
      <img
        src={getAssetURL(item.image)}
        alt="Featured Image"
        class="object-cover w-full h-full min-h-[200px]"
      />
    </div>
  </div>
</div>
